.card {
    width: 90%;
    height: 85%;
    border: 3px double rgb(161, 161, 161);
    background: rgba(221, 221, 221, 0.534);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin: 5%;
    z-index: 1;
}


.card>table {
    margin-top: 10px;
    width: 90%;
}

.header {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.card>table>tr>td {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td>img {
    margin-right: 5px;
}


.status-ON {
    background-color: #acfdac;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: #008000;
}

.scope-DEV{
    background-color: #e7d0ff;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: #7226dc;
}

.status-OFF {
    background-color: #ffd0d0;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: #d40000;
}

.graphButton{
    background: rgba(0, 0, 0, 0.267);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.zoom{
    transition: transform .2s; /* Animation */
}

.graphButton:hover{
    .zoom{
        transform: scale(1.2);
    }
}

.graphButton>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.graphButtonContainer{
    padding: 30px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}