<div class="container-fluid">
  <div class="row contenido">
    <div class="col-xl-5">
      
      <div class="row marginRows rowCards">
        <label class="titulo">Precio del Kw/h</label>
        <div class="row text-center" style="margin-bottom: 2em;">

          <div class="col-4">
            <div class="P1 p">P1: {{ p1 }} €</div>
            <div class="P2">P2: {{ p2 }} €</div>
          </div>
          <div class="col-4">
            <div class="P3 p">P3: {{ p3 }} €</div>
            <div class="P4">P4: {{ p4 }} €</div>
          </div>   
          <div class="col-4">  
            <div class="P5 p">P5: {{ p5 }} €</div>
            <div class="P6">P6: {{ p6 }} €</div>
          </div>
         
        </div>
      </div>  

      <div class="row marginRows rowCards">
        <label class="titulo">{{ obtenerMesActualNombre() }}</label>
        <div class="row text-center" style="margin-bottom: 2em;">
          <div class="col-4" *ngFor="let tramo of tramosMeses[obtenerMesActualNumero()]">
            <div [class]="obtenerClasePorTramo(tramo)">
              {{ obtenerClasePorTramo(tramo) }}: {{ tramo }}
            </div>
          </div>
        </div>
      </div>
      

      <div class="row marginRows">
        <label class="titulo">Seleccionar el numero de bombas</label>
        <div>
          <label for="numBombasPequenas"><b>Pequeñas 2.5kW</b></label>
          <input class="inputBombas" type="number" id="numBombasPequenas" name="numBombasPequenas" [(ngModel)]="numBombasPequenas">
        </div>
        <div style="margin-bottom: 2em;">
          <label  for="numBombasGrandes"><b>Grandes 5kW</b></label>
          <input class="inputBombas" type="number" id="numBombasGrandes" name="numBombasGrandes" [(ngModel)]="numBombasGrandes">
        </div>
      </div>

      <div class="row"> 
        <form #myForm="ngForm" (ngSubmit)="recalcularConsumosCostos()">
          <div class="divHoras">
            <label class="titulo">Seleccionar las horas a mostrar</label><br>
            <button type="button" class="buttonPrin" (click)="seleccionarBoton('todas'); plegar()" [ngClass]="{ 'selected': estadosBotones.todas}"><b>Todas</b></button>
            <button type="button" class="buttonPrin" (click)="seleccionarBoton('valle'); plegar()" [ngClass]="{ 'selected': estadosBotones.valle}"><b>Valle</b></button>
            <button type="button" class="buttonPrin" (click)="seleccionarBoton('llano'); plegar()" [ngClass]="{ 'selected': estadosBotones.llano}"><b>Llano</b></button>
            <button type="button" class="buttonPrin" (click)="seleccionarBoton('punta'); plegar()" [ngClass]="{ 'selected': estadosBotones.punta}"><b>Punta</b></button>
            <button type="button" class="buttonPrin" (click)="seleccionarBoton('seleccionadas'); desplegar();" [ngClass]="{ 'selected': estadosBotones.seleccionadas }"><b>Horas</b></button>
          </div>      
          <div *ngIf="desplegado === true">
            <div class="buttons-container">
              <div *ngFor="let hora of obtenerHorasDia()">
                <button
                  type="button"
                  (click)="onButtonChange(hora)"
                  [ngClass]="{ 'selected': isHoraSeleccionada(hora) }"
                >
                  {{ hora }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
 
     
    </div> <!-- cierre col-5 -->
    
    <div class="col-xl-7">
      <div class="row">
        <ng-container *ngIf="consumosCostos.length > 0; else noData">
          <table class="tabla text-center">
            <thead>
              <tr>
                <th>Hora</th>
                <th>Consumo Pequeñas</th>
                <th>Consumo Grandes</th>
                <th>Consumo Total</th>
                <th>Costo Pequeñas</th>
                <th>Costo Grandes</th>
                <th>Costo Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consumo of consumosCostos" [ngClass]="obtenerClasePorTramo(obtenerTramoPorHora(consumo.hora))">
                <td>{{ consumo.hora }}</td> 
                <td>{{ consumo.consumoEstimadoPequenas | number: '1.2-2' }} kW</td>
                <td>{{ consumo.consumoEstimadoGrandes | number: '1.2-2' }} kW</td>
                <td>{{ consumo.consumoEstimadoTotal | number: '1.2-2' }} kW</td>
                <td>{{ consumo.costeEstimadoPequenas | number: '1.2-2' }} €</td>
                <td>{{ consumo.costeEstimadoGrandes | number: '1.2-2' }} €</td>
                <td>{{ consumo.costeEstimadoTotal | number: '1.2-2' }} €</td>
              </tr>
              <!-- Fila de totales -->
              <tr class="totalesRow">
                <th>Total</th>
                <td>{{ consumosCostosTotales[0]?.sumaConsumoEstimadoPequenas | number: '1.2-2'}} kW</td>
                <td>{{ consumosCostosTotales[0]?.sumaConsumoEstimadoGrandes | number: '1.2-2' }} kW</td>
                <td>{{ consumosCostosTotales[0]?.sumaConsumoEstimadoTotal  | number: '1.2-2'  }} kW</td>
                <td>{{ consumosCostosTotales[0]?.sumaCosteEstimadoPequenas  | number: '1.2-2' }} €</td>
                <td>{{ consumosCostosTotales[0]?.sumaCosteEstimadoGrandes  | number: '1.2-2'  }} €</td>
                <td>{{ consumosCostosTotales[0]?.sumaCosteEstimadoTotal  | number: '1.2-2'  }} €</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-template #noData>
          <table class="tabla text-center">
            <thead>
              <tr>
                <th>Hora</th>
                <th>Consumo Pequeñas</th>
                <th>Consumo Grandes</th>
                <th>Consumo Total</th>
                <th>Costo Pequeñas</th>
                <th>Costo Grandes</th>
                <th>Costo Total</th>
              </tr>
            </thead>
          </table>
          <div class="text-center mt-5" >
            <img src="../../../assets/images/editar.png" style="width: 300px; height: auto;">
          </div>
           
              <p class="text-center mt-5">La tabla estará disponible una vez que hayas seleccionado los datos a mostrar.</p>
                     
        </ng-template>
      </div>
    </div> <!-- cierre col-7 -->
  </div> <!--cierro row contenido-->

</div>
