/*Contenedor principal*/
.contenido{               
    margin-top: 1em;
    margin-left: 6em;
    margin-right: 6em;
}

/*Tabla */
.tabla{
    margin: 1em;
}

.tabla tr{
    height: 3em;
    border-bottom: 1px solid rgb(43, 41, 41);
}

/*Contenido*/

.titulo{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
}

.divHoras{    
    width: 90%;
}

.marginRows{   
    width: 90%;
    border-bottom: 1px solid #829484; 
}

.buttons-container {
    display: flex;
    flex-wrap: wrap; 
    width: 90%; 
    margin-bottom: 2em;   
}

/*Botones de la horas*/
.buttons-container button {
    display: inline-block; 
    width: 3.8em;
    height: 1.9em;
    margin-right: 0.5em; 
    margin-top: 0.3em;
    border-radius: 2.5em;  
    border: 1px solid rgb(43, 41, 41);
}

.inputBombas{
    width: 4em;
    margin-left: 1em;
}

.buttonPrin{  
    border: 2px solid rgb(43, 41, 41);
    background-color: white;
    height: 2.5em;
    width: 6em;
    margin-right: 1em;
    margin-bottom: 1.5em;
    
    border-radius: 0.5em;  
}

.tramosCard{
    width:300px ;
    padding: 1em;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 2em;
}

.totalesRow{
    font-weight: bold;
}

.selected{
    background-color: rgb(43, 41, 41);
    color: white;
}
.botonCalcular{
    width: 100px;
    margin-left: 13px;

}

.P6{
    color: black;
    border-radius: 0.5em;
    background-color: rgb(180, 255, 255);
}

.P5{
    color: black;
    border-radius: 0.5em;
    background-color: rgb(140, 250, 255);
}

.P4{
    color: black;
    border-radius: 0.5em;
    background-color: rgb(110, 200, 255);
}

.P3{
    color: black;
    border-radius: 0.5em;
    background-color: rgb(60, 150, 255);
}

.P2{
    color: black;
    border-radius: 0.5em;
    background-color: rgb(50, 120, 255);  
}

.P1{
    color: white;
    border-radius: 0.5em;
    background-color:rgb(0, 50, 255);    
}

.p{
    margin-bottom: 1em;
}