.card {
    width: 90%;
    height: 85%;
    border: 3px double rgb(161, 161, 161);
    background: rgba(221, 221, 221, 0.699);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    align-items: center;
    margin: 5%;
    z-index: 1;
}

.card>table {
    margin-top: 10px;
    width: 90%;
}

.header {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.card>table>tr>td {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td>img {
    margin-right: 5px;
}

.status-ON {
    background-color: #acfdac;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: #008000;
}

.status-OFF {
    background-color: #ffd0d0;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: #d40000;
}

.houseTR:hover {
    background: rgba(192, 192, 192, 0.452);
    cursor: pointer;
}

.selected {
    border: 1px solid #624aff;
}