<div class="card">
    <table>
        <tr class="header">
            <td>STATUS</td>
            <td>Nº</td>
            <td>CODE</td>
            <td>NAME</td>
            <td>LAST PING</td>
            <td>EVENTS</td>
            <td>SENSORS</td>
            <td>UPDATE</td>
            <td>TOOLS</td>
        </tr>
        <tr class="houseTR" *ngFor="let house of houses" id="house-{{house._id}}" (click)="selectHouse(house._id)">
            <td><div class="status-ON">ON</div></td>
            <td>1</td>
            <td>A2f0d</td>
            <td>{{house.friendlyName}}</td>
            <td>05/01/2023</td>
            <td>2</td>
            <td>2</td>
            <td><img src="../../../assets/images/download.png" style="width: 20px;"/></td>
            <td>
                <img src="../../../assets/images/setting.png" style="width: 20px;"/>
                <img src="../../../assets/images/calendar.png" style="width: 20px;"/>
                <img src="../../../assets/images/bar-chart.png" style="width: 20px;"/>
                <img src="../../../assets/images/log-file-format.png" style="width: 20px;"/>
            </td>
        </tr>
    </table>
</div>
<img src="../../../assets/images/logo/a6.svg" style="position: absolute; top: 40%; left: 50%; right: 50%;">