<body style="overflow: hidden;">
  <app-log-in *ngIf="token === '' || token === undefined || token === null || token === 'null' || token === 'undefined'"></app-log-in>
  <div *ngIf="token != '' && token != null && token != undefined && token != 'null' && token != 'undefined'">
    <div id="homeBar" class="homeBar">
      <h1 (mouseenter)="mouseEnterOpenAidLogo()" (mouseleave)="mouseLeaveOpeanAidLogo()">
        <svg width="15mm" height="15mm" viewBox="0 0 55.388374 58.92416" version="1.1" id="svg5" xml:space="preserve"
          inkscape:version="1.2 (1:1.2.1+202207142221+cd75a1ee6d)" sodipodi:docname="a1.svg"
          xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
          xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
          xmlns:svg="http://www.w3.org/2000/svg">
          <defs id="defs2" />
          <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1"
            transform="translate(-65.872459,-183.9247)">
            <path id="path365"
              style="opacity:1;fill:#ffffff;fill-opacity:0;stroke:#ffffff;stroke-width:2.22712;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:0.976471"
              d="m 93.450301,185.03826 c -2.31503,0.23866 -24.872889,28.18794 -26.044783,29.66792 -0.811751,0.75365 -0.487141,1.26262 0.916408,1.22496 l 4.523457,0.0573 v 23.21694 c 0.100463,1.64963 0.997105,2.4625 2.936443,2.52992 h 17.738005 0.18886 17.737999 c 1.93934,-0.0675 2.83543,-0.88029 2.9359,-2.52992 v -23.21694 l 4.524,-0.0573 c 0.87333,0.12766 1.72816,-0.47131 0.91641,-1.22496 -0.77731,-0.97039 -23.967343,-29.43294 -26.372699,-29.66792 z"
              sodipodi:nodetypes="cccccccccccccc" />
            <path id="path2569"
              style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.98054;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:0.976471"
              d="m 93.937879,206.01332 a 15.195692,15.195692 0 0 0 -2.711462,0.25425 l 1.507401,4.75992 a 10.259223,10.259223 0 0 1 1.204061,-0.078 10.259223,10.259223 0 0 1 10.259321,10.25932 10.259223,10.259223 0 0 1 -10.259321,10.25932 10.259223,10.259223 0 0 1 -8.402588,-4.37958 l -4.503084,2.12287 a 15.195692,15.195692 0 0 0 12.905672,7.19336 15.195692,15.195692 0 0 0 15.195971,-15.19597 15.195692,15.195692 0 0 0 -15.195971,-15.19546 z m -5.71593,1.1219 a 15.195692,15.195692 0 0 0 -5.427576,3.74292 l 4.043164,2.93264 a 10.259223,10.259223 0 0 1 2.881995,-1.94665 z m -7.299296,6.24664 a 15.195692,15.195692 0 0 0 -1.79989,4.44935 l 4.951635,0.57877 a 10.259223,10.259223 0 0 1 0.864547,-2.1146 z m -2.169894,7.55355 a 15.195692,15.195692 0 0 0 -0.01033,0.27337 15.195692,15.195692 0 0 0 0.923975,5.19038 l 4.486548,-2.11512 a 10.259223,10.259223 0 0 1 -0.462504,-2.77141 z" />
          </g>
        </svg>
        <span class="textToBottom"><b>pen</b>AidCare</span>
      </h1>
    </div>
    <div style="display: flex; justify-content: start; width: 100%;">
      <div class="lateralHomeBar">
        <h1>Home</h1>
        <div class="lateralHomeBarDiv">
          <div class="lateralHomeBarDiv active" (click)="showHouses()">
            <h2><img src="../assets/images/logo/a2.svg" style="width: 10%; margin-right: 10px;" />Casas</h2>
          </div>
          <div id="casasBts" class="noVisible transition">
            <div class="lateralHomeBarSubDiv" id="bt-sensors" (click)="houseBTClicked('sensors')">
              <h2><img src="../assets/images/setting.png" style="width: 10%; margin-right: 10px;" />Sensores</h2>
            </div>
            <div class="lateralHomeBarSubDiv" id="bt-events" (click)="houseBTClicked('events')">
              <h2><img src="../assets/images/calendar.png" style="width: 10%; margin-right: 10px;" />Eventos</h2>
            </div>
            <div class="lateralHomeBarSubDiv" id="bt-tables" (click)="houseBTClicked('tables')">
              <h2><img src="../assets/images/table.png" style="width: 10%; margin-right: 10px;" />Tablas</h2>
            </div>
            <div class="lateralHomeBarSubDiv" id="bt-graphs" (click)="houseBTClicked('graphs')">
              <h2><img src="../assets/images/bar-chart.png" style="width: 10%; margin-right: 10px;" />Gráficas</h2>
            </div>
            <div class="lateralHomeBarSubDiv" id="bt-logs" (click)="houseBTClicked('logs')">
              <h2><img src="../assets/images/log-file-format.png" style="width: 10%; margin-right: 10px;" />Logs</h2>
            </div>
          </div>
        </div>
        <div class="lateralHomeBarDiv">
          <h2><img src="../assets/images/logo/avatar.svg" style="width: 10%; margin-right: 10px;" />Perfiles</h2>
        </div>
      </div>
      <app-houses style="width: 80%;" id="housesComponent"></app-houses>
      <app-sensors style="width: 80%;" id="sensors" class="noVisible"></app-sensors>
      <app-events style="width: 80%;" id="events" class="noVisible"></app-events>
      <app-tables style="width: 80%;" id="tables" class="noVisible"></app-tables>
      <app-graphs-menu style="width: 80%;" id="graphs" class="noVisible"></app-graphs-menu>
      <app-logs style="width: 80%;" id="logs" class="noVisible"></app-logs>

    </div>
  </div>
</body>