
<!--<app-log-in *ngIf="token === '' || token === undefined || token === null || token === 'null' || token === 'undefined'"></app-log-in> 
  <div *ngIf="token != '' && token != null && token != undefined && token != 'null' && token != 'undefined'">-->

    <div class="header">
      <app-header></app-header>
    </div>
    <div class="nav">
      <app-nav></app-nav>
    </div>

    <div [ngStyle]="{'margin-left.px': margin}" class="content">
       <router-outlet></router-outlet>
    </div>
  
  


