.homeBar {
    background: linear-gradient(to left, #6842ff, #426eff);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10vh;
}

.homeBar > h1 {
    color: white;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.homeBar > h1:hover {
    font-size: 2.1rem;
    text-shadow: rgba(255, 255, 255, 0.11) 4px 4px;
}

.textToBottom{
    transition: all ease-in-out 0.2s;
    margin-top: auto;
    margin-bottom: 2px;
}

.textToBottom:hover{
    margin-top: auto;
    margin-bottom: 10px;
}

.lateralHomeBar{
    height: 90vh;
    width: 20%;
}

svg { 
    transition: all ease-in-out 0.5s;
}

path { 
    transition: all ease-in-out 0.5s;
}

