.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  color: #fff; 
  background-color: #333; /* Agrega un color de fondo al encabezado si lo deseas */
  z-index: 100; /* Asegura que el encabezado esté por encima de otros elementos */
}

.nav {
  position: fixed;
  top: 90px; 
  left: 0;
  height: calc(100vh - 90px); 
  background-color: rgba(192, 188, 188, 0.3);
  color: black; 
}

.content{
  margin-left: 55px;
}

