<div class="container-fluid">

  <div class="row  mt-5">

    <h2 class="text-center encabezado">Sesores de Presencia</h2>
    
    <div class="card card1">
      <div class="plantaBaja">
        <div *ngIf="datosM0.length > 0">
          <h4 class="encabezadoCard">Planta Baja</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Día</th>
                <th>Fecha</th>
                <th>Primera Hora</th>
                <th>Última Hora</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dato of datosM0">
                <td>{{ getDayWithDate(dato.fecha) }}</td>
                <td>{{ formatDate(dato.fecha) }}</td>
                <td>{{ sumarHoras(dato.primeraHora) }}</td>
                <td>{{ sumarHoras(dato.ultimaHora) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="card card2">
      <div class="primeraPlanta">
        <div *ngIf="datosM1.length > 0">
          <h4 class="encabezadoCard">Primera Planta</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Día</th>
                <th>Fecha</th>
                <th>Primera Hora</th>
                <th>Última Hora</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dato of datosM1">
                <td>{{ getDayWithDate(dato.fecha) }}</td>
                <td>{{ formatDate(dato.fecha) }}</td>
                <td>{{ sumarHoras(dato.primeraHora) }}</td>
                <td>{{ sumarHoras(dato.ultimaHora) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card card3">
      <!--
        <div *ngIf="datosM2.length > 0">
          <h2>Planta Baja</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Día</th>
                <th>Fecha</th>
                <th>Primera Hora</th>
                <th>Última Hora</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dato of datosM2">
                <td>{{ getDayWithDate(dato.fecha) }}</td>
                <td>{{ formatDate(dato.fecha) }}</td>
                <td>{{ dato.primeraHora }}</td>
                <td>{{ dato.ultimaHora }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      -->
    </div>

  </div> <!--row-->

</div><!--container-->





