
<div class="navBar">
  <div #sideMenu id="sidemenu" [ngClass]="{'menu-collapsed': !menuExpanded, 'menu-expanded': menuExpanded}">
    <div id="header">
      <div id="title"><span></span></div>
      <div id="menu-btn" (click)="toggleDesplegar()">
        <div class="btn-hamburguer"></div>
        <div class="btn-hamburguer"></div>
        <div class="btn-hamburguer"></div>
      </div>
    </div>

  <div id="menu-items">
    <div class="item">
      <a routerLink="">
        <div class="icon"><img src="../../../assets/images/pagina-principal.png"></div>
        <div class="title"><span>Panel Principal</span></div>
      </a>
    </div>

    <div class="item separator">

    </div>

    <div class="item">
      <a routerLink="/sensors">
        <div class="icon"><img src="../../../assets/images/progreso.png"></div>
        <div class="title"><span>Sensores</span></div>
      </a>
    </div>

    <div class="item">
      <a routerLink="/consumos">
        <div class="icon"><img src="../../../assets/images/contabilidad.png"></div>
        <div class="title"><span>Calculadora</span></div>
      </a>
    </div>

    <div class="item">
      <a routerLink="/facturas">
        <div class="icon"><img src="../../../assets/images/facturas.png"></div>
        <div class="title"><span>Facturas</span></div>
      </a>
    </div>

    
  </div>

</div>
</div>































<!--
<div class="">

  <a class="" routerLink="/">
    <div class="rowPrin" [class.active]="activeElement === 'rowPrin'" (click)="toggleActive('rowPrin')"> 
      <h3 class="tituloPrin">
          <img class="imgPrin" src="../assets/images/house-gear.svg"/> 
          <span class="word">
            <span class="word1">Panel</span>
            <br>
            <span class="word2">Principal</span>
          </span>
      </h3>
    </div>
  </a>

  <a routerLink="/sensors">
    <div class="rowSec" [class.active]="activeElement === 'rowSec1'" (click)="toggleActive('rowSec1')">    
      <h5 class="tituloSec">  
          <img class="imgSub"  src="../assets/images/lista.png" />
          <span class="word3">Sensores</span>      
      </h5>    
    </div>
  </a>

  <a routerLink="/consumos">
    <div class="rowSec" [class.active]="activeElement === 'rowSec2'" (click)="toggleActive('rowSec2')"> 
      <h5 class="tituloSec">  
          <img class="imgSub"  src="../../../assets/images/tabla.png" />
          <span class="word3">Consumos</span>      
      </h5>    
    </div>
  </a>

</div>-->



  
