a {
    text-decoration: none; /* Quita el subrayado */
    color: inherit; 
}

a:hover {
    color: inherit; 
  }
img {
    height: 35px;
    width: auto;
}
.imgSub{
    height: 20px;
    width: auto;
} 
.active {
    background-color: #6e6e6e; 
    width: 200px;
    margin-left: -12px;   
}
.navBar{
    height: 73px;
}
.navBar:hover{
    font-size: 30px;
    transition: all ease-in-out 0.3s
}
.word:hover{
    text-decoration: underline 3px;
}
img{
    margin-right: 8px;
}