<div class="card">
    <table>
        <tr class="header">
            <td>STATUS</td>
            <td>SCOPE</td>
            <td>#</td>
            <td>NAME</td>
            <td>TYPE</td>
            <td>DAYS</td>
            <td>HOUR-MINUTE</td>
            <td>TOOLS</td>
        </tr>
        <tr *ngFor="let event of events">
            <td *ngIf="event.isActive === true"><div class="status-ON">ON</div></td>
            <td *ngIf="event.isActive === false"><div class="status-OFF">OFF</div></td>
            <td>SCOPE</td>
            <td>#</td>
            <td>NAME</td>
            <td>TYPE</td>
            <td>DAYS</td>
            <td>HOUR-MINUTE</td>
            <td>TOOLS</td>
        </tr>
    </table>
</div>
<img src="../../../assets/images/calendar.png" style="position: absolute; top: 40%; left: 50%; right: 50%; width: 15%;">