<div class="background">
    <div class="postBackground">
        <div class="i4lifeLogo">
            <img src="../../assets/images/logo/logo.svg" />
        </div>
        <div class="loginCard">
            <h1 style="text-align: center; color: white; margin-top: 50px; margin-bottom: 30px;"><b>Open</b>AidCare</h1>
            <div style="padding-left: 20%;">
                <span style="font-weight: 590;">Email</span>
                <br />
                <input type="text" />
            </div>
            <div style="padding-left: 20%; margin-top: 5%;">
                <span style="font-weight: 590;">Contraseña</span>
                <br />
                <input type="password" />
            </div>
            <div style="padding-left: 20%; position: absolute; bottom: 50px;">
                <div class="forgotPass">¿Has olvidado la contraseña?</div>
                <button class="btn btn__secondary" (click)="login()">Acceder</button>
            </div>
        </div>
    </div>
</div>