/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: quicksand;
    src: url(assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf) format("opentype");
  }

:root{
    body > * {
        font-family: "quicksand";
    }   
}

.noVisible {
    display: none;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.plantaBaja{
    background-color: rgba(226, 225, 133, 0.3); 
  }
  .primeraPlanta{
    background-color: rgba(141, 226, 133, 0.3); 
  }
  .segundaPlanta{
    background-color: rgba(226, 175, 133, 0.3); 
  }
  .exterior{
    background-color: rgba(134, 133, 226, 0.3); 
  }