
/*margenes para el contenido, sin contar titulo*/
.contenido{               
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
.rowCards{
    margin-top: 2em;
}
.divHoras{
    margin-bottom: 1em;
    width: 100%;
}
.tabla{
    margin: 1em;
}
.tabla tr{
    height: 3em;
    border-bottom: 1px solid #829484;
}
.divHoras{
    width: 90%;
}
.marginRows{   
    width: 90%;
    border-bottom: 1px solid #829484; 
}

.buttons-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que los botones se envuelvan en varias líneas */
}

.buttons-container button {
    display: inline-block; /* Cambiado de 'inline' a 'inline-block' */
    width: 3.8em;
    height: 1.9em;
    margin-right: 0.5em; /* Añadido margen para separar los botones */
    margin-top: 0.3em;
    border-radius: 2.5em;  
    border: 2px solid  rgb(65, 129, 23);
}

.selected {
    background-color:#002004;
    color: white;
}

.inputBombas{
    width: 2em;
    margin-left: 1em;
}

.buttonPrin{
    margin-right: 3em;
    width: 7em;
    height: 2.5em;
    border: 2px solid #002004;
    border-radius: 0.5em; 
    margin-bottom: 1em;   
}
.titulo{
    font-size: 1.5em;
    font-weight: bold;
}

.labelSeleccion{
   font-size: 1.5em;
   font-weight: bold;
   margin-bottom: 1em;
   margin-top: 1em;
   color:black;
}

.tramosCard{
    width:300px ;
    padding: 1em;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 2em;
}
.totalesRow{
    font-weight: bold;
}

.p6{
    color: black;
    border-radius: 0.5em;
    background-color: #79e07e;
}
.p5{
    color: black;
    border-radius: 0.5em;
    background-color: #6ec573;
}
.p4{
    color: black;
    border-radius: 0.5em;
    background-color: #64ad50;
}
.p3{
    color: white;
    border-radius: 0.5em;
    background-color: #2e8135;
}
.p2{
    color: white;
    border-radius: 0.5em;
    background-color: #013b0b;
   
}
.p1{
    color: white;
    border-radius: 0.5em;
    background-color: #002004;
}