<div class="container-fluid p-4">

  <div class="row">
    <div class="title text-center">
      <h1>Calculadora de Consumos</h1>
    </div>
  </div>
   
  <div class="row contenido">
    <div class="col-6">

      <div class="row marginRows">
        <label class="labelSeleccion">Seleccionar el numero de bombas</label>
        <div>
          <label for="numBombasPequenas">Pequeñas:</label>
          <input class="inputBombas" type="number" id="numBombasPequenas" name="numBombasPequenas" [(ngModel)]="numBombasPequenas">
        </div>
        <div>
          <label  for="numBombasGrandes">Grandes:</label>
          <input class="inputBombas" type="number" id="numBombasGrandes" name="numBombasGrandes" [(ngModel)]="numBombasGrandes">
        </div>
      </div>

      <div class="row rowsSeleccion marginRows"> 
        <form #myForm="ngForm" (ngSubmit)="recalcularConsumosCostos()">
          <div class="divHoras">
            <label class="labelSeleccion ">Selecciona las horas a mostrar</label><br>
            <button type="button" class="buttonPrin" (click)="filtrarHorasTramos('todas'); recalcularConsumosCostos(); plegar()"><b>Todas</b></button>
            <button type="button" class="buttonPrin" (click)="filtrarHorasTramos('valle'); recalcularConsumosCostos(); plegar()"><b>Valle</b></button>
            <button type="button" class="buttonPrin" (click)="filtrarHorasTramos('llano'); recalcularConsumosCostos(); plegar()"><b>Llano</b></button>
            <button type="button" class="buttonPrin" (click)="filtrarHorasTramos('punta'); recalcularConsumosCostos(); plegar()"><b>Punta</b></button>
            <button type="button" class="buttonPrin" (click)="desplegar()"><b>Seleccionar</b></button>
          </div>      
          <div *ngIf="desplegado === true">
            <div class="buttons-container">
              <div *ngFor="let hora of obtenerHorasDia()">
                <button
                  type="button"
                  (click)="onButtonChange(hora)"
                  [ngClass]="{ 'selected': isHoraSeleccionada(hora) }"
                >
                  {{ hora }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row marginRows">
        <div class="card tramosCard">
          <h4 class="mb-4 labelSeleccion"><b>Precio del Kw/h por tramo</b></h4>
          <div class="row" >
            <div class="col-6">
              <p class="p1">P1: {{ p1 }} €</p>
              <p class="p2">P2: {{ p2 }} €</p>
              <p class="p3">P3: {{ p3 }} €</p>
            </div>
            <div class="col-6">
              <p class="p4">P4: {{ p4 }} €</p>
              <p class="p5">P5: {{ p5 }} €</p>
              <p class="p6">P6: {{ p6 }} €</p>
            </div>
          </div>
        </div>
      </div>
     
    </div> <!-- cierre col-6 -->
    
    <div class="col-6">
      <div class="row">
        <div *ngIf="consumosCostos.length > 0">
          <table class="tabla text-center">
            <thead>
              <tr>
                <th>Hora</th>         
                <th>Consumo Pequeñas</th>
                <th>Consumo Grandes</th>
                <th>Consumo Total</th>
                <th>Costo Pequeñas</th>
                <th>Costo Grandes</th>
                <th>Costo Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consumo of consumosCostos" [ngClass]="getClasePorTramo(obtenerTramoPorHora(consumo.hora))">
                <td>{{ consumo.hora }}</td> 
                <td>{{ consumo.consumoEstimadoPequenas | number: '1.2-2' }} kW</td>
                <td>{{ consumo.consumoEstimadoGrandes | number: '1.2-2' }} kW</td>
                <td>{{ consumo.consumoEstimadoTotal | number: '1.2-2' }} kW</td>
                <td>{{ consumo.costeEstimadoPequenas | number: '1.2-2' }} €</td>
                <td>{{ consumo.costeEstimadoGrandes | number: '1.2-2' }} €</td>
                <td>{{ consumo.costeEstimadoTotal | number: '1.2-2' }} €</td>
              </tr>
              <!-- Fila de totales -->
              <tr class="totalesRow">
                <th>Total</th>
                <td>{{ consumosCostosTotales[0]?.sumaConsumoEstimadoPequenas | number: '1.2-2'}} kW</td>
                <td>{{ consumosCostosTotales[0]?.sumaConsumoEstimadoGrandes | number: '1.2-2' }} kW</td>
                <td>{{ consumosCostosTotales[0]?.sumaConsumoEstimadoTotal  | number: '1.2-2'  }} kW</td>
                <td>{{ consumosCostosTotales[0]?.sumaCosteEstimadoPequenas  | number: '1.2-2' }} €</td>
                <td>{{ consumosCostosTotales[0]?.sumaCosteEstimadoGrandes  | number: '1.2-2'  }} €</td>
                <td>{{ consumosCostosTotales[0]?.sumaCosteEstimadoTotal  | number: '1.2-2'  }} €</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
           
    </div> <!-- cierre col-6 -->
  </div> <!--cierro primera row-->

</div>
